doctype html
head
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.4.1/firebase.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body
    h1.text-center Welcome to RHS Alumni
        a(href="../index.html").btn.btn-default HOME
    #listofAlumni
        .row
            .col-md-4
                h3.text-center 1996
                #1996
            .col-md-4
                h3.text-center 1997
                #1997
            .col-md-4
                h3.text-center 1998
                #1998
        .row
            .col-md-4
                h3.text-center 1999
                #1999
            .col-md-4
                h3.text-center 2000
                #2000
            .col-md-4
                h3.text-center 2001
                #2001
        .row
            .col-md-4
                h3.text-center 2002
                #2002
            .col-md-4
                h3.text-center 2003
                #2003
            .col-md-4
                h3.text-center 2004
                #2004
        .row
            .col-md-4
                h3.text-center 2005
                #2005
            .col-md-4
                h3.text-center 2006
                #2006
            .col-md-4
                h3.text-center 2007
                #2007
        .row
            .col-md-4
                h3.text-center 2008
                #2008
            .col-md-4
                h3.text-center 2009
                #2009
            .col-md-4
                h3.text-center 2010
                #2010
        .row
            .col-md-4
                h3.text-center 2011
                #2011
            .col-md-4
                h3.text-center 2012
                #2012
            .col-md-4
                h3.text-center 2013
                #2013
        .row
            .col-md-4
                h3.text-center 2014
                #2014
            .col-md-4
                h3.text-center 2015
                #2015
            .col-md-4
                h3.text-center 2016
                #2016
    script(src="../scripts/alumni.js")
