doctype html
head
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.4.1/firebase.js")
body
    h1 Hello
    form
        input(type='text')#name
        input(type='text')#degree
        input(type='text')#meritDate
        input(type='text')#points
        input(type='text')#gradYear
        button#submit Submit
    script(src="../scripts/form.js")
